/*sc- is a selector prefix meaning 'sitefinity core'. It can be changed by your preference*/
@import 'tailwindcss';
@import url('https://fonts.cdnfonts.com/css/lufga'); /* Example CDN */

@layer base {
  .font-lufga {
    font-family: 'Lufga', sans-serif;
  }
}

/* index.css */

@tailwind utilities;

@theme {
  --animate-float: float 1.5s ease-in-out infinite alternate;
  @keyframes float {
    0%,{
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(25px);
    }
  }
}